<body>
  <div class="basic">
    {% include "./bootstrap.html" %}  
  </div>
  <br>
  <div class="container">
    {% if id == null %}
    <form action="/emp/" method="POST">
      {% endif %}

      {% if id != null %}
    <form action="/update/{{id}}" method="POST">
      {% endif %}

      {% csrf_token %}
      <div class="form-group">
        <label>Enter Name</label>
        <input type="text" name = "eName" class="form-control" placeholder="Enter the name" value="{{eName}}">
      </div>
      <div class="form-group">
        <label>Enter Contact Number</label>
        <input type="text" name = "eContact" class="form-control" placeholder="Enter the contact number" value="{{eContact}}">
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="email" name = "eEmail" class="form-control" placeholder="Enter the email" value="{{eEmail}}">
      </div>
      {% if id == null %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% endif %}
      {% if id != null %}
      <button type="submit" class="btn btn-primary">Update</button>
      {% endif %}
    </form>
  </div>

</body>